
<div class="parent">
    
        <div class="child1">
            <img src="assets/dice1.png" alt="" *ngIf="a===1" width="300px" height="300px">
            <img src="assets/dice2.png" alt="" *ngIf="a===2" width="300px" height="300px">
            <img src="assets/forthface.png" alt="" *ngIf="a===3" width="300px" height="300px">
            <img src="assets/dice4.png" alt="" *ngIf="a===4" width="300px" height="300px">
            <img src="assets/dice5.png" alt=""  *ngIf="a===5" width="300px" height="300px">
            <img src="assets/dice6.png" alt=""  *ngIf="a===6" width="300px" height="300px"><br><br>
        </div>
        <div class="child2">
            <button (click)="rand()">Play</button>  
        </div>
   
   
</div>


