

<div class="par">
    <div class="left">
        <button (click)="logout()">Logout</button><br>
        <button routerLink="home">home</button><br>
        <button routerLink="welcome">welcome</button><br>
        <button routerLink="data-binding">DataBinding</button><br>
        <button routerLink="calsi">Calsi</button><br>
        <button routerLink="rectangle">Rectangle</button><br>
        <button routerLink="circle">Circle</button>
        <button routerLink="bmi">BMI</button>
        <button routerLink="dice">Dice</button>
        <button routerLink="directives">Directive</button>
        <button routerLink="pipes">Pipes</button>
        <button routerLink="tasks">Tasks</button>
        <button routerLink="flipkart">Flipkart</button>
        <button routerLink="higher-order">HigherOrder</button>
        <button routerLink="pra">Pra</button>
        <button routerLink="vehical">vehical</button>
        <button routerLink="bank">Bank</button>
        <button routerLink="emp">Emp</button>
        <button routerLink="create-vehical">create-vehical</button>
        <button routerLink="flipcart1">flipcart1</button>
        <button routerLink="mail">mail</button>
        <button routerLink="create-bank">Create-bank</button>
        <button routerLink="student">student</button>
        <button routerLink="create-student">create student</button>
        <button routerLink="create-user">create user</button>
        <button routerLink="create-user2">create-user2</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
